.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, blue, pink, white, pink, blue);
}

.greeting {
  display: block;
  margin: auto;
}

.signature {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
