.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
  background-image: linear-gradient(to bottom, blue, pink, white, pink, blue);

  .spinner {
    position: static;
    margin-top: 20px;
  }
}

.signature {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
